In [19]:
import pandas as pd

In [20]:
info={
    "Name":["Rahul","Harsh","Navya"],
    "CGPA":[9.5,7.5,8.5]
}
df=pd.DataFrame(info)
print(df)

    Name  CGPA
0  Rahul   9.5
1  Harsh   7.5
2  Navya   8.5

In [21]:
df

    Name  CGPA
0  Rahul   9.5
1  Harsh   7.5
2  Navya   8.5

In [22]:
s=pd.Series([1,2,3,4,5])
print(s)
print(type(s))

#index
print(s[0])
print(s[1])

0    1
1    2
2    3
3    4
4    5
dtype: int64
<class 'pandas.core.series.Series'>
1
2

In [25]:
s=pd.Series([21,42,33,14,75,"abc"],index=["Ayush","Nikhil","Vignesh","Aryan","Siddhant",25])
print(s)

print(s["Ayush"])
print(s.index)

Ayush        21
Nikhil       42
Vignesh      33
Aryan        14
Siddhant     75
25          abc
dtype: object
21
Index(['Ayush', 'Nikhil', 'Vignesh', 'Aryan', 'Siddhant', 25], dtype='object')

In [29]:
s1=pd.Series([1,2,3,4,5])
s2=pd.Series([6,8,7,9,10])
print(s1+s2)

s1[0]=100
changed_s1=s1.drop(0)
print(s1)
print(changed_s1)

0     7
1    10
2    10
3    13
4    15
dtype: int64
0    100
1      2
2      3
3      4
4      5
dtype: int64
1    2
2    3
3    4
4    5
dtype: int64

In [36]:
#dataframes

info={
    "Name":["Ayush","Dubey","Vigoo"],
    "Age":[23,24,25],
    "GPA":[9.0,7.9,9.5]
}
df=pd.DataFrame(info)
print(df,type(df))

print(df.index)
print(df.columns)

    Name  Age  GPA
0  Ayush   23  9.0
1  Dubey   24  7.9
2  Vigoo   25  9.5 <class 'pandas.core.frame.DataFrame'>
RangeIndex(start=0, stop=3, step=1)
Index(['Name', 'Age', 'GPA'], dtype='object')

In [39]:
df=pd.DataFrame([["Ayush",23],["Vignesh",22],["Siddhant",24]],columns=["Name","Age"])
print(df)

       Name  Age
0     Ayush   23
1   Vignesh   22
2  Siddhant   24

In [40]:
#creating dataframe using numpy
import numpy as np
np_arr=np.array([[1,2,3],[4,5,6]])
df=pd.DataFrame(np_arr,columns=["A","B","C"])
print(df)

   A  B  C
0  1  2  3
1  4  5  6

In [43]:
#csv data

df=pd.read_csv("employee_data.csv")
print(df,type(df))

   ID     Name  Age Department  Salary
0   1    Alice   25         HR   55000
1   2      Bob   32         IT   72000
2   3  Charlie   28    Finance   48000
3   4    David   45  Marketing   91000
4   5      Eva   38         IT   65000
5   6    Frank   29    Finance   50000
6   7    Grace   41         HR   82000
7   8   Hannah   26  Marketing   47000
8   9      Ian   35         IT   75000
9  10    Julia   30    Finance   60000 <class 'pandas.core.frame.DataFrame'>

In [44]:
#json data
df=pd.read_csv("employee_data.json")
print(df,type(df))

ParserError: Error tokenizing data. C error: Expected 1 fields in line 3, saw 2